version: '3.8'

services:
  dsi_next:
    image: appointment-system-frontend:v1
    build:
      context: ./
      dockerfile: .docker/next/Dockerfile
    container_name: next_app
    restart: always
    ports:
      - "3000:3000"
    volumes:
      - .:/app/frontend