### misc ###
.DS_Store
*.pem

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### docker compose files ###
docker-compose.yaml

### Backend Start ###
backend/HELP.md
backend/target/
!backend/.mvn/wrapper/maven-wrapper.jar
!backend/**/src/main/**/target/
!backend/**/src/test/**/target/
backend/out
### STS ###
backend/.apt_generated
backend/.classpath
backend/.factorypath
backend/.project
backend/.settings
backend/.springBeans
backend/.sts4-cache
### logging ###
backend/logs
### env files ###
backend/.env
### docker compose files ###
backend/docker-compose.yaml

### Frontend Start ###
frontend/node_modules
frontend/.pnp
frontend/.pnp.js
frontend/.yarn/install-state.gz
### testing ###
frontend/coverage
### next.js ###
frontend/.next/
frontend/out/
### production ###
frontend/build
### debug ###
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
### env files ###
frontend/.env
### docker compose files ###
frontend/docker-compose.yaml
### vercel ###
frontend/.vercel
### typescript ###
frontend/*.tsbuildinfo
frontend/next-env.d.ts

